:root {
    --baseColor: #31603D;
}

* {
    box-sizing: border-box !important;
}


#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.bg-project {
    background-color: var(--baseColor);
    color: #ffffff;
}

.btn-project {
    background-color: var(--baseColor) !important;
    color: #ffffff !important;
    border-radius: 24px !important;
}

.sideText {
    font-size: 12px;
    font-weight: 500;
}

.activeLink .side-active {
    background-color: var(--baseColor) !important;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 90% !important;
}

.side-bar-link {
    color: #222;
    text-decoration: none;
}

.side-bar-link.activeLink {
    color: #fff;
}

.layout {
position: relative;
overflow: hidden;
}

.layout .layoutLoad{
    width: 100%;
    height: 100vh;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1200 !important;
    margin: 0px !important;
    top:0;
    left: 0;
}
.sticky-top{
    z-index: 800 !important;
}


.overviewCardCol {
    aspect-ratio: 1/1.05;
    overflow: hidden;
    padding: 0 !important;
    padding-right: 8px !important;
    padding-bottom: 8px !important;
}

.overviewCardCol.market {
    padding: 0px !important;
}

.overviewCardCol>div {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.overviewCardCol .overviewData {
    background-color: #F9F9F9;
    border-radius: 5px;


}

.overviewCardCol .overviewData .num {
    font-size: 14px;
    font-weight: 700;
}

.overviewCardCol .overviewData .numText {
    font-size: 9px;
}

.overviewTop .title {
    font-size: 10px;
}

.overviewTop .text {
    font-size: 8px;
}

@media screen and (min-width:1000px) {
    .overviewTop .title {
        font-size: 12px;
    }

    .overviewTop .text {
        font-size: 10px;
    }

    .overviewCardCol .overviewData .num {
        font-size: 18px;
        font-weight: 700;
    }

    .overviewCardCol .overviewData .numText {
        font-size: 12px;
    }
}

.overflow-e {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90% !important;
}

.store-list-container {
    padding: 20px;
    background-color: #f8f9fa;
}

.store-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.store-header h5 {
    margin: 0;
}

.add-store-button {
    border: 1px solid #28a745;
    color: #28a745;
    border-radius: 20px;
    padding: 5px 10px;
}

.store-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e9ecef;
    padding: 10px 0;
}

.store-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 15px;
}

.store-details {
    flex: 1;
}

.view-button {
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 20px;
    padding: 5px 15px;
}

.layoutButton {
    border-radius: 70px !important;
    display: flex;
    height: fit-content !important;
    width: fit-content !important;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-weight: 600 !important;
    font-size: 14px !important;
    cursor: pointer;
}

.layoutButton.success {
    border: 1px solid #31603D;
    color: #31603D;

}

.layoutButton.fill {
    background-color: #31603D !important;
    color: #ffffff !important;
    border: none !important;

}

.layoutButton.danger {
    border: 1px solid #D23D23;
    color: #D23D23;
}

.mTabel tbody tr:not(:first-child) {
    /* background-color: red; */
    /* padding: 4px; */
}

.mTabel tbody tr:not(:first-child) td {
    padding: 10px 0px;
}

.mTabel tbody tr:not(:first-child) td div {
    font-size: 13px !important;
    padding: 8px;
    background-color: #ffffff;
    height: 70px;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}

.mTabel thead tr th {
    padding: 13px 10px;
    background-color: #ffffff;
    font-size: 13px !important;
}

:root {
    --thRadius: 12px;
}

.mTabel thead tr th:first-child,
.mTabel tbody tr td:first-child div {

    border-top-left-radius: var(--thRadius);
    border-bottom-left-radius: var(--thRadius);
}

.mTabel thead tr th:last-child,
.mTabel tbody tr td:last-child div {
    border-top-right-radius: var(--thRadius);
    border-bottom-right-radius: var(--thRadius);
}

.tabelLogo {
    width: 35px !important;
    height: 35px !important;
    object-fit: cover;
    border-radius: 4px;
}

.functionBox {
    background-color: #ffffff;
    border-radius: var(--thRadius);
    max-width: 500px !important;
    height: fit-content !important;
}

.ant-input:focus {
    border-color: var(--baseColor) !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(40, 72, 229, 0.2);
    box-shadow: 0 0 0 2px rgba(40, 72, 229, 0.2);
}

.antInput {
    border-radius: 24px !important;
    padding: 10px 20px !important;
}

@keyframes skeleton-loading {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #d0d0d0;
    }

    100% {
        background-color: #e0e0e0;
    }
}

.skeleton-load {
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: skeleton-loading 1.5s infinite ease-in-out;
}

.imageBox {
   width: 300px !important;
   height: 200px !important;
   overflow: hidden;
}

.imageBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ant-spin-text { color: #999; }

.ant-spin-dot-item {
    background-color: #00cc00 !important;
  }