@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
  
.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  @font-face {
    font-family: "LT Saeada";
    src: url("/fonts/LTSaeada-Regular.otf") format("opentype"),
         url("/fonts/LTSaeada-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "LT Saeada";
    src: url("/fonts/LTSaeada-Bold.otf") format("opentype"),
         url("/fonts/LTSaeada-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "LT Saeada";
    src: url("/fonts/LT-Saeada-Italic.otf") format("opentype"),
         url("/fonts/LT-Saeada-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "LT Saeada";
    src: url("/fonts/LTSaeada-Light.otf") format("opentype"),
         url("/fonts/LTSaeada-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  